Disallow roles on a[href]

Currently this document states the following in column 3 for roles which *may* be used on `a[href]`

```
Roles: button, checkbox, menuitem, menuitemcheckbox, menuitemradio, option, radio, switch, tab or treeitem
```

The construction of links & linking between documents has been with HTML since its very beginning. In fact, supporting links is [one of the foundational conformance requirements for user agents](https://www.w3.org/MarkUp/html-spec/html-spec_1.html#SEC1.2.3)

Section 7 of [RFC 1866](https://tools.ietf.org/html/rfc1866#section-7) discusses the purpose and structure of links.

The content of the `href` attribute must be a valid resource.

I simply cannot see any relevant use case for applying a `role` for what would otherwise be a link.

If the author has constructed an `<a>` element that contains an `href` attribute, then the use of any other `role` should be considered invalid.



As a quick follow-up, `area[href]` is listed as "No Role"

Can the ticket be closed? AS I understand your second comment everything is fine.